<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otic.prueba2" >

    <!--CONFIGURA LOS PERMISOS: internet camara flash  write external storage-->
    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity

            android:theme="@style/AppTheme"
            android:name=".presentation.activities.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:theme="@style/AppTheme"
            android:name=".presentation.activities.MainActivity" >

        </activity>
    </application>

</manifest>